<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
         <File name="File1" fileName="output.log" bufferedIO="false" advertiseURI="file://output.log" advertise="true">
             ...
         </File>
    </Appenders>
    <Loggers>
         <Logger name="shippingApp" level="INFO">
             <AppenderRef ref="Console"/>
         </Logger>
        <Root level="INFO">
            <AppenderRef ref="Console"/>

        </Root>


    </Loggers>
</Configuration>